@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html,body {
    max-height: 100vh;
    background-color: rgb(160, 149, 149);
}
 
header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 50px;
    font-variant: small-caps;

}

header > p {
    padding: 50px;
}

section {
    padding-top: 5vh;
    padding-bottom: 5vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: rgb(253, 253, 253);
    color: rgb(15, 15, 15);
} 

section.imagem {
    background-color: black;
    color: white;
    box-shadow: inset 6px 46px 13px 0px rgba(0, 0, 0, 0.452);
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(48, 37, 37, 0.479);
    text-shadow:1px 1px 0px black ;
}
section#img01 {
    background-image: url('imagem/sidnei01.jpg');
    background-position: center;
    background-size: cover;
}
section#img02 {
    background-image: url('imagem/sidnei02.jpg');
    background-position:center ;
    background-size: cover;
}
section#img03 {
    background-image: url('imagem/sidnei03.jpg');
    background-position: center;
    background-size: cover;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}